<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>goodde</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <style>
        *{font-family: 'Gowun Batang', serif 'Nanum Gothic', sans-serif;}
        .map_group {margin-top:200px; opacity:0;}/*opacity 0은 투명*/
        .here {font-size:60px; margin-left:40px;}
        .check {color:red; font-size:55px; margin-left:40px;}
        .map_wrap {position:relative;width:100%;height:500px;}
        .title {font-weight:bold;display:block;}
        .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;margin-left:50px;font-size:40px;}
        #centerAddr {display:block;margin-top:2px;font-weight: normal;}
        .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-size:40px;}
        .box_group{text-align:center;margin-top:350px;}
        .box{ width:350px; height:80px; font-size:50px; background:white; border-radius: 15px;margin:0px 20px;}
        .box:hover{background:lightgray;}
        .loading{text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;}
    </style>
</head>
<body>
    <div class="loading" style="font-size:100px; margin-top:600px; text-align:center;color:#e9967a;">
        <strong>구뜨<br>(gooddrive)</strong>
    </div>
    <div id="pass" style="display:none;"><%=id%></div>
    <div class="map_group">
        <div class="here">
            <img src="https://e7.pngegg.com/pngimages/199/694/png-clipart-computer-icons-map-location-sign-cdr-black-thumbnail.png" 
            style="width:60px; height:60px">
            현재 위치가 맞습니까?
        </div>
        <div class="check">&nbsp;&nbsp;&nbsp;&nbsp;<strong>※아닐경우 위치를 조정해주세요!</strong></div>

        <br>
        <div class="map_wrap">
            <div id="map" style="width:90%;height:800px;position:relative;overflow:hidden;margin:auto;"></div>
            <div class="hAddr">
                <span class="title">지도중심기준 행정동 주소정보</span>
                <span id="centerAddr"></span>
            </div>
        </div>

        <div class="box_group">
            <button class="search box" onclick="movingSearch();">
                작성할게요
            </button>
            <button class="yes box" onclick="moving(); movingDone();">
                네, 맞습니다
            </button>
        </div>
    </div>

    <!--js-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ceb1e710105acfa93e70fad67dd086ef&libraries=services"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!--admin서버로 정보 전달 위함-->

    <script>
        var loader=document.querySelector('.loading');
        var html=document.querySelector('html');
        var group=document.querySelector('.map_group');
        html.style.overflow='hidden';//로딩 중 스크롤 방지
        window.addEventListener('load',()=>{
            setTimeout(()=>{//로딩속도 구현
                loader.style.opacity='0';//투명하게(1은 선명)
                html.style.overflow='auto';//스크롤 방지 해제
                setTimeout(()=>{
                    loader.style.display='none';
                    group.style.opacity='1';//선명하게 보이기
                }, 400);
            },2000);//로딩속도 구현
        })

        var lat, lon, loc;
        if (navigator.geolocation) {
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {
                lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도 

                after();//lat, lon 값 이용해야 하기 때문
            });
        }
        function after(){
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(lat, lon),// 지도의 중심좌표
                level: 1 // 지도의 확대 레벨
            };  

            // 지도를 생성합니다  
            var map = new kakao.maps.Map(mapContainer, mapOption); 

            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            //위치를 geolocation으로 얻어온 좌표로 생성합니다
            var locPosition = new kakao.maps.LatLng(lat, lon);

            var marker = new kakao.maps.Marker({  // 위치를 표시할 마커입니다
                map: map, 
                position: locPosition,
            }),infowindow = new kakao.maps.InfoWindow({zindex:1});// 위치에 대한 주소를 표시할 인포윈도우입니다

            // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
            searchAddrFromCoords(map.getCenter(), displayCenterInfo);

            // 현재 지도 중심좌표로 마커 위에 주소를 나타냅니다
            searchDetailAddrFromCoords(map.getCenter(), function(result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                        loc=result[0].road_address.address_name;//done페이지에 전달하기 위함
                        detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                  
                        var content = '<div class="bAddr">' +
                                        '<span class="title">법정동 주소정보</span>' + 
                                        detailAddr + 
                                    '</div>';

                        // 마커를 클릭한 위치에 표시합니다 
                        marker.setPosition(map.getCenter());
                        marker.setMap(map);

                        // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    }   
                });

            // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                        detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                  
                        var content = '<div class="bAddr">' +
                                        '<span class="title">법정동 주소정보</span>' + 
                                        detailAddr + 
                                    '</div>';

                        // 마커를 클릭한 위치에 표시합니다 
                        marker.setPosition(mouseEvent.latLng);
                        lat=mouseEvent.latLng.Ma;
                        lon=mouseEvent.latLng.La;
                        loc=result[0].road_address.address_name;
                        marker.setMap(map);

                        // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    }   
                });
            });
            
            function locMark(result, status){
                if (status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                    
                    var content = '<div class="bAddr">' +
                                    '<span class="title">법정동 주소정보</span>' + 
                                    detailAddr + '</div>';

                    // 마커를 클릭한 위치에 표시합니다 
                    marker.setPosition(mouseEvent.latLng);
                    marker.setMap(map);

                    // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                }  
            }

            // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
            kakao.maps.event.addListener(map, 'idle', function() {
                searchAddrFromCoords(map.getCenter(), displayCenterInfo);
            });

            function searchAddrFromCoords(coords, callback) {
                // 좌표로 행정동 주소 정보를 요청합니다
                geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
            }

            function searchDetailAddrFromCoords(coords, callback) {
                // 좌표로 법정동 상세 주소 정보를 요청합니다
                geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
            }

            // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
            function displayCenterInfo(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var infoDiv = document.getElementById('centerAddr');

                    for(var i = 0; i < result.length; i++) {
                        // 행정동의 region_type 값은 'H' 이므로
                        if (result[i].region_type === 'H') {
                            infoDiv.innerHTML = result[i].address_name;
                            break;
                        }
                    }
                }    
            }
        }
        function moving(){
            var send={
                "lat":lat,
                "lon":lon,
                "loc":loc
            };
            localStorage.setItem("send",JSON.stringify(send));//localStorage에 저장해서 다른 파일에서도 사용할 수 있도록
        }

        var pass=document.getElementById('pass');
        var id=pass.innerHTML;//값 가져오기
        
        function movingSearch(){
            location.href=`/search/${id}`;
        }

        async function movingDone(){
            /*admin 서버로 정보 전달 위함*/
            try {
                await axios.post(`https://admin.goodde.net/api/calls/${id}/location/submit`, {//정보 전달할 페이지
                    lat: lat,
                    lon: lon,
                    addr: loc
                });
            }
            catch(err) {
                alert(`오류가 발생했습니다.\n${err.message}`);
                return;
            }

            location.href=`/done/${id}`;
        }
    </script>
</body>
</html>